@import '../../styles/vars';
.projects {
    height: 100%;
    background-color: $colorSecondary;
    overflow: hidden;

    &-list {
        height: 40rem;
        padding: 0.9rem;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;


        li {
            padding: 0.5rem;
            border: 1px solid $colorPrimary;
            border-radius: 10px;
            margin-bottom: 1rem;
        }
    }

    &__add {
        position: absolute;
        height: 150px;
        bottom: 1.5rem;
        right: 1.5rem;
    }
}