@import '../../styles/vars';

.profile {
    background-color: $colorSecondaryDark;

    // Header
    .profile-header {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;
        height: 55px;
        margin-bottom: 7px;
        padding:0.6rem;
        background-color: $colorPrimary;
        margin-top: 0rem;
        border-radius: 0 0 20px 20px;
    
        &_notify {
    
        }
    
        &_avatar {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;
        }

        &_title {
            order: 0;
            flex: 1 1 auto;
            align-self: auto;
            font-size: 2em;
            font-style: italic;
        }

    }

    &-main {
        background-color: $colorSecondaryDark;
        height: calc(100vh - (62px + 100px));
    }

    // Main
    &-params {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border: none;
        background: none;

        &_text {
            padding-left: 2rem;
            font-size: 1.5rem;
        }
    }

    &-deconnexion {
        display: flex;
        justify-content: center;
        width: 100%;
        position: fixed;
        bottom: 15vh;
        
        .btn {
            font-size: 1.5rem;
            border: 3px solid $colorPrimaryDark;
            border-radius: 15px;
            padding: 0.5rem;
        }
    
    }

    &__modal {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width:100%;
        background: $colorSecondaryDark;
        padding: 1rem;
    }

    &__modal__title {
        text-align: center;
        padding: 1rem;
        font-size: 1.3rem;
        font-weight: bold;
    }
}

.input-avatar {
    display: none;
}


.style {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
        background: $colorSecondaryLight;
        border: 2px solid $colorPrimaryDark;
    
}

.detailProfil {
    display: flex;
    flex-direction: column;

    label {
        margin: 0.2rem 0.1rem 0.2rem 0.1rem;
    }
}

.modal-close {
    display: flex;
    justify-content: center;
}

.profile-Params_icon {
// //     // background-color: aqua;
    margin-left: 0.5rem;
}
