@use 'sass:color';

//green
$colorPrimary: #009285;
$colorPrimaryLight: color.scale($colorPrimary, $lightness: +10%);
$colorPrimaryDark: color.scale($colorPrimary, $lightness: -20%);
 
//grey
$colorSecondary: #c1c1c1;
$colorSecondaryLight: color.scale($colorSecondary, $lightness: +20%);
$colorSecondaryDark: color.scale($colorSecondary, $lightness: -20%);

