@use 'sass:color';

//green
$colorPrimary: #009285;
$colorPrimaryLight: color.scale($colorPrimary, $lightness: +15%);
$colorPrimaryDark: color.scale($colorPrimary, $lightness: -30%);
 
//grey
$colorSecondary: #91A3AE;
$colorSecondaryLight: color.scale($colorPrimary, $lightness: +10%);
$colorSecondaryDark: color.scale($colorPrimary, $lightness: -30%);