@import '../../styles/vars';

.documentsDetail {
    height: 100%;
    background-color: $colorSecondary;
    overflow: hidden;
    
    &-main {
        height: 100%;
        border: 3px solid $colorPrimary;
        border-radius: 20px;
        margin: 0rem 2rem 2rem 2rem; 
        padding: 1rem;
        p {
            text-align: justify;
        }
    }
}

// Header
.documentsDetail-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: stretch;
    align-items: center;
    height: 55px;
    margin-bottom: 7px;
    padding:0.6rem;
    background-color: $colorPrimary;
    margin-top: 0rem;
    border-radius: 0 0 20px 20px;

    &_notify {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
    }

    &_avatar {
        order: 0;
        flex: 1 1 flex-end;
        align-self: auto;
    }

    &_title {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        font-size: 2em;
        font-style: italic;
    }
}


.documentsDetail-main {
    background-color: $colorSecondaryDark;
    height: calc(100vh - (62px + 100px));
}