@import '../../styles/vars';

.login-form {
  
    &-element {
      display: flex;
      flex-direction: column;
    }
  
    &-message {
      margin: .3em 1em;
    }
  
    &-logged {
      display: flex;
      flex-direction: column;
    }
  
    &-button {
      font-size: 1em;
      font-weight: bold;
      color: #fff;
      background-color: $colorPrimary;
      border-radius: .3em;
      border: 0;
      padding: .7em;
      height: 2.5em;

      &--accueil {
          background-color: $colorPrimaryDark;
      }
    }

    &-signup {
        margin: 2rem 0;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
    }
  }
