@import '../../styles/vars';

.homeApp-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
    margin-bottom: 0.5rem;
    padding:0.5rem;
    background-color: $colorPrimary;
    border-radius: 0 0 20px 20px;

    &_notify {
        order: 0;
        flex: 1 1 flex-end;
        align-self: auto;
    }

    &_avatar {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
    }

    &_title {
        order: 0;
        flex: 1 1 auto;
        align-self: auto;
        font-size: 2em;
        font-style: italic;
    }
}
